* {
	box-sizing: border-box;
}
.logo {
	float: left;
	margin-right: 10px;
}
.menu {
	float: left;
	width: 20%;
}
.menuitem {
	padding: 4px;
	border-bottom: 1px solid #f1f1f1;
}
.main {
	float: left;
	width: 60%;
	padding: 0 20px;
	overflow: hidden;
}
.kanan {
	background-color: lightblue;
	float: left;
	width: 20%;
	padding: 8px 15px;
	margin-top: 15px;
	font-size: 15px;
}
.footer {
	background-color: #f1f1f1;
	text-align: center;
	padding: 10px;
	margin-top: 7px;
	font-size: 12px;
}
@media only screen and (max-widht: 800px){
	/* untuk tablet dan ponsel:  */
	.menu,.main, .kanan {
		width: 100%;
	}
}