.container {			/* ==== mengatur letak konten ====*/
	margin: 15px 0;
	background-color: #fafafa;
	padding: 20px;
	border: 1px solid #ddd;
}
a {
	color: darkblue;
	text-decoration: none;
}
a.link {
	margin: 0;
	padding: 6px;
	display: block;
}
a.link:hover {
	background-color: #d4edf5;
}
input[type=text], input[type=date], input[type=number], select {
	background-color: white;
	padding: 5px 15px;
	border: 1px solid #acc;
	border-radius: 5px;
	width: 100%;
	margin: 5px 0 10px 0;
	font-size: 16px;
}
input[type=submit], input[type=reset], button {
	padding: 10px 30px;
	font-size: 16px;
}
table, th, td{
	border-collapse: collapse;
	padding: 5px 10px;
	border: 1px solid #ccc;
	background-color: #fff;
}